<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meeting.mapper.FriendMapper">

    <resultMap id="friendMap" type="com.meeting.pojo.Friend">
        <result property="id" column="friendsKey"/>
        <result property="userId" column="userId"/>
        <association property="friendUser" javaType="com.meeting.pojo.UserInfo">
            <id property="id" column="friendsId"/>
            <result property="name" column="friendsName"/>
            <result property="phone" column="friendsPhone"/>
            <result property="sex" column="friendsSex"/>
            <result property="url" column="friendsUrl"/>
            <result property="password" column="friendsPwd"/>
        </association>
    </resultMap>
    <select id="queryAllFriend" resultMap="friendMap">
        SELECT friends.id as friendsKey,
        friends.friend_id as friendsId,
        friends.user_id as userId,
        user.name as friendsName,
        user.phone as friendsPhone,
        user.sex as friendsSex,
        user.url as friendsUrl,
        user.password as friendsPwd
        from `user` as user,friend as friends
        WHERE `user`.id=friends.friend_id
        and friends.user_id=#{id}
    </select>

    <insert id="insertFrind">
        INSERT into friend(user_id,friend_id) VALUES(#{userId},#{friendUser.id})
    </insert>
    <delete id="deleteFriend">
        delete from friend where user_id = #{userId} and friend_id = #{friendUser.id}
    </delete>
</mapper>