<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meeting.mapper.MeetingMapper">
<!--    createByUser-->

    <resultMap id="AllMeetingMap" type="com.meeting.pojo.Meeting">
       <id property="id" column="meetingId"/>
        <result property="meetingTitle" column="meeting_title"/>
        <result property="meetingContent" column="meeting_content"/>
        <result property="createTime" column="create_time"/>
        <result property="time" column="time"/>
        <result property="path" column="path"/>
        <result property="address" column="address"/>
        <association property="createByUser" javaType="com.meeting.pojo.UserInfo">
            <id property="id" column="createby_id" />
            <result property="name" column="userName"/>
        </association>
    </resultMap>

    <select id="queryAllMeetings" resultMap="AllMeetingMap">
        SELECT meeting.id as meetingId,
        meeting_title ,
        meeting_content ,
        create_time ,
        time ,
        path ,
        address ,
        createby_id ,
        `user`.`name` as userName
        FROM meeting ,`user`
        <where>
         meeting.createby_id = `user`.id
        <if test="id != null and id!=0">
            and  meeting.createby_id = #{id}
        </if>
        <if test="meetingId != null and meetingId!=0">
            and  meeting.id = #{meetingId}
        </if>
        </where>
    </select>

<!--    查询列表简单信息-->
    <resultMap id="AllSimpleMeetingMap" type="com.meeting.pojo.Meeting">
       <id property="id" column="meetingId"/>
        <result property="meetingTitle" column="meeting_title"/>
        <result property="meetingContent" column="meeting_content"/>
        <result property="createTime" column="create_time"/>
        <result property="time" column="time"/>
        <result property="path" column="path"/>
        <result property="address" column="address"/>
    </resultMap>

    <select id="queryAllSimpleMeetings" resultMap="AllSimpleMeetingMap">
        SELECT meeting.id as meetingId,
        meeting_title ,
        meeting_content ,
        create_time ,
        time ,
        path ,
        address
        FROM meeting ,`user`
        <where>
         meeting.createby_id = `user`.id
        <if test="id != null and id!=0">
            and  meeting.createby_id = #{id}
        </if>
        </where>
    </select>

    <resultMap id="meetingIdMap" type="com.meeting.pojo.Meeting">
        <id property="id" column="meetingId"/>
    </resultMap>
    <!--    查询用户参与的会议-->
    <select id="queryAllInvitationMeetings" resultMap="meetingIdMap">
        SELECT
        meeting.`id` AS meetingId
        FROM meeting , invitation
        <where>
            meeting.id = invitation.`meeting_id`
            <if test="id != null and id != 0">
                AND invitation.`user_id` = #{id};
            </if>
        </where>

    </select>

    <resultMap id="allInvitationMap" type="com.meeting.pojo.Invitation">
        <id property="id" column="invitationId"/>
        <result property="initTime" column="init_time"/>
        <collection property="toAttendUser" ofType="com.meeting.pojo.UserInfo">
            <id property="id" column="userId"/>
            <result property="name" column="userName"/>
            <result property="url" column="userImage"/>
        </collection>

    </resultMap>
    <select id="queryAllInvitation" resultMap="allInvitationMap">
        SELECT
        invitation.id as invitationId,
        init_time,
        `user`.id as userId,
        `user`.`name` as userName,
        `user`.phone ,
        `user`.sex ,
        `user`.url as userImage ,
        `user`.`password`
        FROM  invitation ,
        `user` , meeting
        WHERE invitation.user_id = `user`.id
        AND meeting.id = invitation.meeting_id
        AND meeting.id = #{meetingId}
    </select>

</mapper>