<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meeting.mapper.UserInfoMapper">
      <select id="queryUser" resultType="com.meeting.pojo.UserInfo">
          select  id,name,phone,sex,url,password
          from user
      </select>
      <insert id="insertUser">
          insert into user(phone,name,password) values(#{phone},#{name},#{password})
      </insert>

      <select id="queryUserByPhone" resultType="com.meeting.pojo.UserInfo">
          select id,name,phone,sex,url,password
          from user where phone = #{phone}
      </select>
</mapper>