
.my_layui-form {width: 500px;margin: 100px auto;}

/*!*body设置*!*/
.indexBody {background-color: #dddddd;}

/*index 表单设计*/
.my_index_form {background-color: #ffffff; margin: 0;padding: 30px 10px;}

.my_form_item {padding-right: 70px;padding-bottom: 20px;}

.my_title {margin-bottom: 20px;}

/*.right {float: right;width: 80px;}*/
/*.left {float: left;width: 80px;}*/
.after:after{content: ".";/*使用after伪对象清除浮动*/
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.myBtn {width: 1000px;height: 30px;}